.chatButtonCreate {
  color: teal;
  background: none;
  border: 1px solid teal;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 15px;
}

.chatButtonJoin {
  color: teal;
  background: none;
  border: 1px solid teal;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 70px;
}
.Logo {
  height: 200px;
}
