.CardContent1 {
  background: none;
  border: 2px solid teal;
  padding: 10px;
  border-radius: 5px;
}
.CardHeader1 {
  color: teal;
}
.CardMeta1 {
  color: #727474;
}
.CardDescription1 {
  color: white;
}
.CardContent2{
  background: none;
  border: 2px solid teal;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.Button {
  background: none;
}
.inputStyle {
    background: none;
    border: 1px solid teal;
    color: teal;
}
